html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  background-color: burlywood;
  background-image: url();
}
.title {
  margin: auto;
  //background-color: white;
  width: 50%;
  text-align: center;
  font-size: 5rem;
}
#next {
  font-size: 2rem;
  margin: auto;
}
