body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 100vh;
  height: 100vh; */
  /* background-color: purple; */
  background-image: url(../img/largedisneycastle.jpeg);
  background-size: cover;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
#start {
  font-size: 5rem;
  background-color: rgb(206, 73, 73);
  border-radius: 1rem;
  padding: 6rem;
  text-align: center;
  margin: 5rem auto;
}
#container {
  /* width: 800px;
  max-width: 80%; */
  background-color: rgba(0, 0, 0, 0.664);
  border-radius: 5px;
  padding: 6rem;
  margin: 5rem;
  box-shadow: 0 0 10px 2px;
  font-size: 2rem;
  color: white;
  display: none;
}
#scoreContainer {
  display: none;
  font-size: 5rem;
  color: red;
}
.btn-grid {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 2rem;
  margin: 2rem 0;
}

.btn {
  background-color: white;
  border-radius: 1rem;
  padding: 1.5rem;
  font-size: 2rem;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .hide {
  display: none;
} */
